#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bg-video {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.live-feed-recording {
  margin: 1rem auto;
  width: 30%;
  min-width: 300px;
  border: 1px solid;
  border-radius: 20px;
}


.textSection{
  font-size: calc(1em + 1vw);


  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  
}
.textSection h2{
  font-family: 'Arial', monospace;
  font-weight: bold;
  color: #000000;
}
.textSection p{
  font-family: 'Arial', monospace;
  color: #000000;
}
.cameraSection{
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

